/* src/components/Dashboard.css */

/* Basic styling for the header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f44336; /* Changed to a more modern shade of red */
  padding: 10px 20px;
  color: white;
  text-align: center;
  border-radius: 10px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.header-title {
  margin: 10px 0;
  font-weight: bold; /* Add bold font weight */
}

.logo {
  height: 50px;
}

.signout-button {
  background-color: white;
  color: red;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Styling for the containers holding metrics and information */
.metrics-container, .info-container {
  margin-top: 20px;
}

/* Styling for individual metric boxes */
.metric-box {  
  text-align: center;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.metric-box h6 {
  font-size: 24px;
  margin-bottom: 10px;
}

.metric-box p {
  margin: 0;
  color: #555;
}

/* Styling for individual info boxes */
.info-box {
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Ensure container takes up full width of the screen */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

/* Media queries for responsive design */
@media (min-width: 600px) {
  .header {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
  }

  .header-title {
      margin: 0;
  }

  .signout-button {
      width: auto;
      margin-top: 0;
  }

  .metrics-container .metric-box, .info-container .info-box {
    margin-bottom: 20px;
  }
}

/* WhatsApp floating button styling */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.whatsapp-float:hover {
  background-color: #128c7e;
}
